cffi==1.17.1
cryptography==45.0.7
psycopg2-binary==2.9.10
pycparser==2.22
apache-airflow-providers-postgres==6.5.0
apache-airflow-providers-apache-spark==5.4.1
dbt-core==1.9.1
dbt-postgres==1.9.1
astronomer-cosmos[dbt-postgres]>=1.9.0

# Astronomer Cosmos para orquestração dbt
astronomer-cosmos[dbt-postgres]>=1.9.0
