name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_PRIVATE_KEY }}
          # passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          port: 22

          script: |
            echo "Conectado ao servidor. Iniciando deploy..."
            cd ${{ secrets.VPS_TARGET_PATH }}
            echo "Executando git pull na pasta $(pwd)..."
            git pull origin main
            echo "Deploy finalizado com sucesso!"
